.buttonUp {
  position: fixed;
  padding: 5px;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  bottom: 100px;
  right: 50px;
  width: 75px;
  height: 150px;
}

.buttonUp:hover {
  background: rgba(169, 212, 218, 0.5);
  transform: translateY(-4px);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 1), 0 16px 20px rgba(220, 86, 197, 1);
}

.scroll__img:active {
  color: brown;
}
