.errorImages {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.spanError {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 800;
  color: #000;
  text-align: center;
}
