/* * Стили компонента Modal */
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 18, 20, 0.9);
  z-index: 1200;
}

.Modal {
  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);
}

.ImCross {
  color: darkslategray;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
